@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-Color : #54989B;
    --second-Color: #406B75;
    --white-Color: #eee;
    --dark-Color:#171d1d;

}

html {
    scroll-behavior: smooth;
}

/* Header */

header {
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

header:after {
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 8%) 0 1px 1px;


}

header .container{
    height: fit-content;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;

}

header .container .logo {
    width: 200px;
}

header .container .logo  img {
    width: 60%;
    height: 50px;
    margin-top: 10px;
}

header  .container nav {
    width: 700px;
    margin-left: -50px;
}

header  .container nav ul {
    display: flex;
    justify-content: space-between;
}

header .container nav ul li{
    position: relative;
}
header .container nav ul li a{
    color : var(--dark-Color);
    border: none;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.1s;
}


header .container nav ul li a.active {
    color: var(--main-Color);
}

header .container nav ul li a:hover{
    color: var(--main-Color);
    
}


header .container  ul li {
    padding: 10px;
    margin-top: 10px;
    color: var(--white-Color);
    list-style: none;
    cursor:pointer;

}

header  .container div:last-child {
    width: fit-content;
    
}

header  .container div:last-child ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


header  .container div:last-child ul li a{
    padding: 7px;
    font-size: 15px;
    width: fit-content;
    font-weight: 500;
    border-radius: 20px;
    transition: ease-in;
    color: var(--main-Color);
    text-decoration: none;
    border: 2px solid var(--main-Color);
    transition-duration: .1s;
}
header .container div:last-child ul li:first-child a:hover{
    box-shadow: inset 0 0 0 1px var(--main-Color);
    
}
header  .container div:last-child ul li:last-child a{
    background-color: var(--main-Color);
        color: var(--white-Color);

}
header  .container div:last-child ul li:last-child a:hover{
    background-color: #3A6365;
    border-color: #3A6365;

}

/* Header */



/* main */
main {
    height: fit-content;
}


main .container {
    width: 90%;
    height: fit-content;
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
}


main .container h2 {
    width: 30%;
    font-size: 45px;
    color: var(--dark-Color);
    position: relative;
}

main .container h2::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 10px;
    background-color: #54989B;
}

main .container h2 span {
    color: var(--main-Color);
    font-size: 110%;
}

main .container > div {
    width: 69%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}



main .container > div img {
    width: 180px;
    height: 320px;
    border-radius: 100px;
    box-shadow: 5px 3px 10px 5px rgba(15, 20, 57, 0.15);

}

main .container > div img:nth-child(2),
main .container > div img:nth-child(4) {
    transform: translateY(100px);
}

/* main */


/* section */
section {
    margin-top: 100px;
    height: 3600px;
}

section .container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .container > div {
    margin-top: 200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .container > div div:first-child h2{
    color: var(--main-Color);
    font-size: 80px;
    letter-spacing: 3px;
    font-weight: 900;
    width: fit-content;
}

section .container > div div:first-child p{
    color: #808080;
}

section .container > div > div:last-child {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    position: relative;
}

section .container > div > div:last-child::before{
    content: "Discover More Places";
    position: absolute;
    width: fit-content;
    padding: 10px;
    right: 0;
    top: 10px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 25px;
    transition-duration: .2s;
    cursor: pointer;
}


section .container > div > div:last-child::before:hover {
    content: "Discover More Places";
    position: absolute;
    color: white;
    background-color: var(--main-Color);
    border-color: var(--main-Color);
}

section .container > div > div:last-child > h3{
    font-size: 32px;
    font-weight: 400;
}

section .container > div > div:last-child > div {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .container > div > div:last-child > div div {
    height: 100%;
    width: 250px;
    border-radius: 18px;
    position: relative;
    transition-duration: .3s;

}

section .container > div > div:last-child > div div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    box-shadow: 5px 12px 20px 0px rgba(15, 20, 57, 0.12);
    cursor: pointer;

}

section .container > div > div:last-child > div div:hover {
    transform: scale(1.02);

}


section .container > div > div:last-child > div div h3{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    text-transform: capitalize;
    font-weight: 800;
    width: fit-content;
    height: fit-content;
    z-index: 999;
    font-size: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    color: var(--main-Color);
}


/* section */















/* Footer  */
footer {
    margin-top: 100px;
    background-color: var(--second-Color);
}

footer .container {
    padding: 10px;
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer .container .copyright {
    color: var(--white-Color);
    font-size: 15px;
}

footer .container .copyright a {
    text-decoration: none;
    color: var(--white-Color);
}

footer .container .copyright a:hover{
    text-decoration: underline;
}

footer .container ul {
    display: flex;
}

footer .container ul li {
    list-style: none;
    margin-left: 10px;
    font-size: 15px;
}

footer .container ul li a {
    text-decoration: none;
    color: var(--white-Color);
}

footer .container ul li a:hover{
    text-decoration: underline;
}

/* Footer  */



.go-top {
    background-color: var(--second-Color);
    height: 25px;
    padding: 10px;
    width: 30px;
    position: fixed;
    right: -40px;
    bottom: 50px;
    color: var(--white-Color);
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}


.go-top.show {
    right: 20px;
}