@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-Color: #54989B;
    --second-Color: #406B75;
    --white-Color: #eee;
    --dark-Color: #171d1d;

}

html {
    scroll-behavior: smooth;
}


/* Header */
header {
    height: 120px;
    display: flex;
    justify-content: center;
}

header .container {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    width: 200px;
}

header .container .logo img {
    width: 60%;
    height: 50px;
    margin-top: 30px;
}

header .container nav {
    width: 700px;
    margin-left: -50px;
}

header .container nav ul {
    display: flex;
    justify-content: space-between;
}

header .container nav ul li {
    position: relative;
}

header .container nav ul li a {
    color: var(--white-Color);
    border: none;
    text-decoration: none;

}

header .container nav ul li a:hover {
    color: var(--main-Color);
}

header .container nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-Color);
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .2s;
    width: 20%;
    visibility: hidden;

}

header .container nav ul li a:hover::after {
    visibility: visible;
    width: 60%;
}

header .container ul li {
    padding: 10px;
    margin-top: 30px;
    color: var(--white-Color);
    list-style: none;
    cursor: pointer;

}

header .container div:last-child {
    width: fit-content;
}

header .container div:last-child ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


header .container div:last-child ul li a {
    padding: 10px;
    border: 2px solid var(--white-Color);
    width: fit-content;
    font-weight: 500;
    border-radius: 20px;
    transition: ease-in;
    color: var(--white-Color);
    text-decoration: none;
    transition-duration: .1s;
}

header .container div:last-child ul li:last-child a {
    background-color: var(--second-Color);

}

header .container div:last-child ul li a:hover {
    color: var(--main-Color);
    background-color: var(--white-Color);

}

/* Header */

/* main */
main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;


}

main::before {
    content: "";
    position: absolute;
    height: calc(500px + 120px);
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/landing-page-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    z-index: -999;
    filter: brightness(.5);
}

main .container {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

}

main .container h2 {
    width: 500px;
    color: var(--white-Color);
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.6;

}

main .container a {
    color: var(--white-Color);
    text-decoration: none;
    padding: 20px;
    width: fit-content;
    font-weight: 500;
    border: 1px solid var(--white-Color);
    border-radius: 100px;
    transition-duration: .2s;
    margin: auto;
}

main .container a:hover {
    background-color: var(--white-Color);
    color: var(--main-Color);
    border: var(--second-Color);

}

/* main */


/* section */
section {
    padding-top: 55px;
    height: 500px;
}

section .container {
    margin: auto;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
}

section .container form {
    background-color: var(--second-Color);
    border-radius: 15px;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 15px 1px #908c8c;

}

section .container form div {
    margin-top: 20px;
    width: 80%;
    height: 50px;
    position: relative;
}

section .container form div input {
    padding: 20px;
    padding-top: 35px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    color: grey;
}

section .container form div input:focus {
    outline: none;
}


section .container form div label {
    /* display: none; */
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 9999;
    position: absolute;
    top: 5px;
    left: 20px;
    color: var(--dark-Color);
}

section .container form button {
    padding: 10px;
    margin: 20px auto;
    border-radius: 15px;
    border: none;
    color: var(--white-Color);
    font-weight: 500;
    background-color: var(--second-Color);
    border: 1px solid var(--white-Color);
    width: 80%;
    transition-duration: .4s;
    height: 50px;
}

section .container form button:hover {
    background-color: #4A8A8E;
}

section .container .discover {
    width: 500px;
    height: 500px;
}

section .container .discover p {
    color: var(--second-Color);
    font-size: 25px;
    position: relative;
    left: -100px;
    width: 420px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

section .container .discover p::before {
    content: "";
    position: absolute;
    right: -210px;
    top: -20px;
    height: 500px;
    width: 70%;
    background-image: url("/images/tourist-pointing-up.png");
    background-size: cover;
    z-index: -999;
    filter: brightness(.8);

}

section .container .discover p span {
    font-size: 40px;
    color: var(--second-Color);
    font-weight: 500;
}

/* section */


.go-top {
    background-color: var(--second-Color);
    height: 25px;
    padding: 10px;
    width: 30px;
    position: fixed;
    right: -40px;
    bottom: 50px;
    color: var(--white-Color);
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}


.go-top.show {
    right: 20px;
}

/* Footer  */
footer {
    margin-top: 80px;
    background-color: var(--second-Color);
}

footer .container {
    padding: 10px;
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer .container .copyright {
    color: var(--white-Color);
    font-size: 15px;
}

footer .container .copyright a {
    text-decoration: none;

    color: var(--white-Color);
}

footer .container .copyright a:hover {
    text-decoration: underline;
}

footer .container ul {
    display: flex;
}

footer .container ul li {
    list-style: none;
    margin-left: 10px;
    font-size: 15px;
}

footer .container ul li a {
    text-decoration: none;
    color: var(--white-Color);
}

footer .container ul li a:hover {
    text-decoration: underline;
}

/* Footer  */


/* media */
@media (max-width: 969px) {
    header .container nav ul li a {
        font-size: 15px;
    }

    header .container div:last-child ul li a {
        font-size: 15px;
    }
}

/* media */